.WeightConverter {
    color: #2B2D42;
}

.weightForm {
    width: 100px;
    height: 35px;
    margin: 0px 10px;
    border-radius: 5px;
}


.calculateBtn {
    background-color: #D90429;
    border: #D90429;
    margin: 0;
}